/* Base CSS */
body {
    color: #666666;
    background: #fefefe;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.05em;
}

html,
body {
    height: 100%;
    margin: 0;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #111111;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin-top: 0;
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
    color: white;
}

h1 {
    font-size: 36px;
    margin-bottom: 24px;
}

h2 {
    font-size: 30px;
    margin-bottom: 22px;
}

h3 {
    font-size: 26px;
    margin-bottom: 20px;
}

h4 {
    font-size: 22px;
    margin-bottom: 18px;
}

h5 {
    font-size: 18px;
    margin-bottom: 14px;
}

h6 {
    font-size: 16px;
    margin-bottom: 12px;
}

a {
    color: #ea7066;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    letter-spacing: 0.05em;
    font-weight: 500;
    outline: 0 !important;
}

a:hover,
a:active,
a:focus {
    color: #f0c24b;
    text-decoration: none;
}

p {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #666666;
    letter-spacing: 0.05em;
    margin-bottom: 10px;
}

.dark p {
    color: #ebebeb;
}

ul {
    list-style: none;
    padding: 0;
}

ul,
ol {
    padding-left: 16px;
    margin-top: 0;
    margin-bottom: 20px;
}

.list-featured {
    list-style: none;
    padding: 0;
}

.list-featured li {
    position: relative;
    padding-left: 14px;
    margin-bottom: 7px;
}

.list-featured li:before {
    position: absolute;
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 0;
    left: 0;
    top: 7px;
    background-color: #ea7066;
}

ol li {
    margin-bottom: 7px;
}

li {
    color: #666666;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.05em;
}

blockquote {
    border-left: 3px solid #ea7066;
}

.blockquote-reverse {
    border-right: 3px solid #ea7066;
}

blockquote p {
    font-size: 16px;
    font-weight: 400;
}

cite {
    color: #ea7066;
    font-size: 12px;
    opacity: 0.75;
}

strong {
    font-weight: 500;
}

.text-uppercase {
    text-transform: uppercase;
}

.lead {
    font-size: 18px;
}

.text-sm {
    font-size: 14px;
}

.text-xs {
    font-size: 12px;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-default {
    color: #333333;
}

.text-primary {
    color: #ea7066;
}

.text-success {
    color: #93bc49;
}

.text-info {
    color: #54bedc;
}

.text-warning {
    color: #e2a740;
}

.text-danger {
    color: #de3f3f;
}

.bg-default {
    color: white;
    background: #333333;
    padding: 3px 4px;
}

.bg-primary {
    color: white;
    background: #ea7066;
    padding: 3px 4px;
}

.bg-success {
    color: white;
    background: #93bc49;
    padding: 3px 4px;
}

.bg-info {
    color: white;
    background: #54bedc;
    padding: 3px 4px;
}

.bg-warning {
    color: white;
    background: #e2a740;
    padding: 3px 4px;
}

.bg-danger {
    color: white;
    background: #de3f3f;
    padding: 3px 4px;
}

/* / End Typography */
.row {
    margin-right: 0;
    margin-left: 0;
}

img {
    width: 100%;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-backface-visibility: hidden;
}

img.btn-pill {
    border: 1px solid transparent;
}

.page-header {
    font-size: 30px;
    font-weight: 700;
    border: none;
    padding: 0;
    margin: 30px 0;
}

.page-header h1 {
    margin: 0;
}

.page-header h2 {
    margin: 0;
}

.page-header h3 {
    margin: 0;
}

.page-header h4 {
    margin: 0;
}

.page-header.wsub {
    margin-bottom: 0;
}

.page-header.wsub h2 {
    margin-bottom: 0;
}

.sub-title {
    color: #111111;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
}

.banner-info h1 {
    font-family: "Lily Script One", cursive !important;
    font-weight: 400 !important;
}

.dark {
    background-color: #333333;
}

.space-top {
    margin-top: 20px !important;
}

.space-top-30 {
    margin-top: 30px !important;
}

.space-top-2x {
    margin-top: 40px !important;
}

.space-bottom {
    margin-bottom: 20px !important;
}

.space-bottom-30 {
    margin-bottom: 30px !important;
}

.space-bottom-2x {
    margin-bottom: 40px !important;
}

.space-left {
    padding-left: 15px !important;
}

.space-left-2x {
    padding-left: 30px !important;
}

.space-right {
    padding-right: 15px !important;
}

.space-right-2x {
    padding-right: 30px !important;
}

.space-25 {
    margin: 12.5px 0;
    line-height: 0;
}

.space-50 {
    margin: 25px 0;
    line-height: 0;
}

.space-100 {
    margin: 50px 0;
    line-height: 0;
}

.space-200 {
    margin: 100px 0;
    line-height: 0;
}

.margin-left {
    margin-left: 15px;
}

.margin-left-2x {
    margin-left: 30px;
}

.margin-right {
    margin-right: 15px;
}

.margin-right-2x {
    margin-right: 30px;
}

.no-margin {
    margin: 0 !important;
}

.no-margin-top {
    margin-top: 0 !important;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.no-padding-top {
    padding-top: 0 !important;
}

.no-padding-bottom {
    padding-bottom: 0 !important;
}

.no-border {
    border: none !important;
}

.no-border-radius {
    border-radius: 0 !important;
}

.rounded {
    border-radius: 5px !important;
}

a:focus {
    outline: none !important;
}

.btn:focus {
    outline: none !important;
}

.btn-social:focus {
    outline: none !important;
}

input:focus {
    outline: none !important;
    border: 1px solid #ebebeb !important;
    box-shadow: none !important;
}

.form-group:focus {
    outline: none !important;
    border: 1px solid #ebebeb !important;
    box-shadow: none !important;
}

select:focus {
    outline: none !important;
    border: 1px solid #ebebeb !important;
    box-shadow: none !important;
}

textarea:focus {
    outline: none !important;
    border: 1px solid #ebebeb !important;
    box-shadow: none !important;
}

.fa {
    display: initial !important;
}

/* Animation Durations */
.animated {
    -webkit-animation-duration: 1s !important;
    animation-duration: 1s !important;
}

.animated.fast {
    -webkit-animation-duration: 0.4s !important;
    animation-duration: 0.4s !important;
}

.animated.first {
    -webkit-animation-duration: 1.5s !important;
    animation-duration: 1.5s !important;
    animation-delay: 0.5s;
}

.animated.second {
    -webkit-animation-duration: 1.6s !important;
    animation-duration: 1.6s !important;
    animation-delay: 1s;
}

.animated.third {
    -webkit-animation-duration: 1.5s !important;
    animation-duration: 1.5s !important;
    animation-delay: 1.3s;
}

.animated.fourth {
    -webkit-animation-duration: 1.6s !important;
    animation-duration: 1.6s !important;
    animation-delay: 1.8s;
}

.animated.fifth {
    -webkit-animation-duration: 1.5s !important;
    animation-duration: 1.5s !important;
    animation-delay: 2s;
}

.animated.sixth {
    -webkit-animation-duration: 1.5s !important;
    animation-duration: 1.5s !important;
    animation-delay: 2.5s;
}

.animated.seventh {
    -webkit-animation-duration: 1.6s !important;
    animation-duration: 1.6s !important;
    animation-delay: 3.2s;
}

.animated.eighth {
    -webkit-animation-duration: 1.5s !important;
    animation-duration: 1.5s !important;
    animation-delay: 3.5s;
}

.animated.nineth {
    -webkit-animation-duration: 1.6s !important;
    animation-duration: 1.6s !important;
    animation-delay: 3.8s;
}

/* End Animation Durations */
::-moz-selection {
    color: white;
    background: rgba(195, 157, 109, 0.75);
}

::selection {
    color: white;
    background: rgba(195, 157, 109, 0.75);
}

/* Buttons */
.btn {
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.05em;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 0;
    padding: 10px 18px;
    margin: 5px;
}

.btn span {
    margin-left: 18px;
    margin-right: 18px;
}

.btn:hover {
    background: transparent;
}

.btn:focus {
    background: transparent;
}

.btn-lg {
    font-size: 15px;
    padding: 12px 20px;
}

.btn-sm {
    font-size: 12px;
    padding: 8px 14px;
}

.btn-xs {
    font-size: 10px;
    padding: 5px 12px;
}

.btn-rounded {
    border-radius: 5px !important;
}

.btn-pill {
    border-radius: 50px !important;
}

.btn-circle {
    border-radius: 50% !important;
    height: 40px;
    width: 40px;
    padding: 3px !Important;
}

.btn-square {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    padding: 3px !Important;
}

.btn-link {
    color: #ea7066;
}

.btn-link:hover {
    color: #f0c24b;
    text-decoration: none;
}

.btn-link:focus {
    color: #f0c24b;
    text-decoration: none;
}

a.btn {
    white-space: nowrap;
}

/* Default Button */
.btn-default,
.btn-default:active,
.btn-default:focus {
    color: #333333;
    border: 2px solid #333333;
    background: transparent;
}

.btn-default:hover {
    color: white;
    background: #333333;
    border: 2px solid #333333;
}

.btn-default-filled,
.btn-default-filled:active,
.btn-default-filled:focus {
    color: white;
    background: #333333;
    border: 2px solid #333333;
}

.btn-default-filled:hover {
    color: white;
    background: #111111;
    border: 2px solid #111111;
}

/* / End Default Button */
/* Primary Button */
.btn-primary,
.btn-primary:active,
.btn-primary:focus {
    color: #ea7066;
    border: 2px solid #ea7066;
    background: transparent;
}

.btn-primary:hover {
    color: white;
    background: #ea7066;
    border: 2px solid #ea7066;
}

.btn-primary-filled,
.btn-primary-filled:active,
.btn-primary-filled:focus {
    color: white;
    background: #ea7066;
    border: 2px solid #ea7066;
}

.btn-primary-filled:hover {
    color: white;
    background: #f0c24b;
    border: 2px solid #f0c24b;
}

/* / End Primary Button */
/* Success Button */
.btn-success,
.btn-success:active,
.btn-success:focus {
    color: #93bc49;
    border: 2px solid #93bc49;
    background: transparent;
}

.btn-success:hover {
    color: white;
    background: #93bc49;
    border: 2px solid #93bc49;
}

.btn-success-filled,
.btn-success-filled:active,
.btn-success-filled:focus {
    color: white;
    background: #93bc49;
    border: 2px solid #93bc49;
}

.btn-success-filled:hover {
    color: white;
    background: #7ea03f;
    border: 2px solid #7ea03f;
}

/* / End Success Button */
/* Info Button */
.btn-info,
.btn-info:active,
.btn-info:focus {
    color: #54bedc;
    border: 2px solid #54bedc;
    background: transparent;
}

.btn-info:hover {
    color: white;
    background: #54bedc;
    border: 2px solid #54bedc;
}

.btn-info-filled,
.btn-info-filled:active,
.btn-info-filled:focus {
    color: white;
    background: #54bedc;
    border: 2px solid #54bedc;
}

.btn-info-filled:hover {
    color: white;
    background: #3a9fbc;
    border: 2px solid #3a9fbc;
}

/* / End Info Button */
/* Warning Button */
.btn-warning,
.btn-warning:active,
.btn-warning:focus {
    color: #e2a740;
    border: 2px solid #e2a740;
    background: transparent;
}

.btn-warning:hover {
    color: white;
    background: #e2a740;
    border: 2px solid #e2a740;
}

.btn-warning-filled,
.btn-warning-filled:active,
.btn-warning-filled:focus {
    color: white;
    background: #e2a740;
    border: 2px solid #e2a740;
}

.btn-warning-filled:hover {
    color: white;
    background: #cb9538;
    border: 2px solid #cb9538;
}

/* / End Warning Button */
/* Danger Button */
.btn-danger,
.btn-danger:active,
.btn-danger:focus {
    color: #de3f3f;
    border: 2px solid #de3f3f;
    background: transparent;
}

.btn-danger:hover {
    color: white;
    background: #de3f3f;
    border: 2px solid #de3f3f;
}

.btn-danger-filled,
.btn-danger-filled:active,
.btn-danger-filled:focus {
    color: white;
    background: #de3f3f;
    border: 2px solid #de3f3f;
}

.btn-danger-filled:hover {
    color: white;
    background: #bf3535;
    border: 2px solid #bf3535;
}

/* / End Danger Button */
/* Button Groups */
.btn-group-xl > .btn {
    font-size: 20px;
    padding: 9px 10px;
    border-radius: 5px;
}

.btn-group-lg > .btn {
    font-size: 15px;
    padding: 10px 12px;
    border-radius: 5px;
}

.btn-group > .btn {
    border-radius: 5px;
}

.btn-group-sm > .btn {
    font-size: 12px;
    padding: 5px 4px;
    border-radius: 5px;
}

.btn-group-xs > .btn {
    font-size: 10px;
    padding: 3px;
    border-radius: 5px;
}

/* / End Button Groups */
/* Dropdown Buttons */
.dropdown-buttons {
    display: inline-block;
    position: relative;
}

.dropdown-buttons .btn-group > .btn {
    padding-left: 17px;
}

.dropdown-buttons .dropdown-icon {
    margin: 0 2px 0 10px;
}

.dropdown-buttons .btn {
    border-radius: 0;
}

.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.open > .dropdown-toggle.btn-default.focus,
.open > .dropdown-toggle.btn-default:focus,
.open > .dropdown-toggle.btn-default:hover {
    color: white;
    background-color: #333333;
    border-color: #333333;
}

.btn-default.active,
.btn-default:active,
.open > .dropdown-toggle.btn-default {
    color: white;
    background-color: #333333;
    border-color: #333333;
}

.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover {
    color: white;
    background-color: #ea7066;
    border-color: #ea7066;
}

.btn-primary.active,
.btn-primary:active,
.open > .dropdown-toggle.btn-primary {
    color: white;
    background-color: #ea7066;
    border-color: #ea7066;
}

.btn-success.active.focus,
.btn-success.active:focus,
.btn-success.active:hover,
.btn-success:active.focus,
.btn-success:active:focus,
.btn-success:active:hover,
.open > .dropdown-toggle.btn-success.focus,
.open > .dropdown-toggle.btn-success:focus,
.open > .dropdown-toggle.btn-success:hover {
    color: white;
    background-color: #93bc49;
    border-color: #93bc49;
}

.btn-success.active,
.btn-success:active,
.open > .dropdown-toggle.btn-success {
    color: white;
    background-color: #93bc49;
    border-color: #93bc49;
}

.btn-info.active.focus,
.btn-info.active:focus,
.btn-info.active:hover,
.btn-info:active.focus,
.btn-info:active:focus,
.btn-info:active:hover,
.open > .dropdown-toggle.btn-info.focus,
.open > .dropdown-toggle.btn-info:focus,
.open > .dropdown-toggle.btn-info:hover {
    color: white;
    background-color: #54bedc;
    border-color: #54bedc;
}

.btn-info.active,
.btn-info:active,
.open > .dropdown-toggle.btn-info {
    color: white;
    background-color: #54bedc;
    border-color: #54bedc;
}

.btn-warning.active.focus,
.btn-warning.active:focus,
.btn-warning.active:hover,
.btn-warning:active.focus,
.btn-warning:active:focus,
.btn-warning:active:hover,
.open > .dropdown-toggle.btn-warning.focus,
.open > .dropdown-toggle.btn-warning:focus,
.open > .dropdown-toggle.btn-warning:hover {
    color: white;
    background-color: #e2a740;
    border-color: #e2a740;
}

.btn-warning.active,
.btn-warning:active,
.open > .dropdown-toggle.btn-warning {
    color: white;
    background-color: #e2a740;
    border-color: #e2a740;
}

.btn-danger.active.focus,
.btn-danger.active:focus,
.btn-danger.active:hover,
.btn-danger:active.focus,
.btn-danger:active:focus,
.btn-danger:active:hover,
.open > .dropdown-toggle.btn-danger.focus,
.open > .dropdown-toggle.btn-danger:focus,
.open > .dropdown-toggle.btn-danger:hover {
    color: white;
    background-color: #de3f3f;
    border-color: #de3f3f;
}

.btn-danger.active,
.btn-danger:active,
.open > .dropdown-toggle.btn-danger {
    color: white;
    background-color: #de3f3f;
    border-color: #de3f3f;
}

/* / End Dropdown Buttons */
/* Checkboxes */
.checkbox {
    padding-left: 10px;
}

.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 20px;
    width: 25px;
    height: 25px;
}

.checkbox label span {
    margin-top: 4px;
    position: absolute;
    white-space: nowrap;
}

.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 25px;
    height: 25px;
    left: 0;
    margin-left: -20px;
    border: 2px solid #cccccc;
    border-radius: 5px;
    background-color: white;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 25px;
    height: 25px;
    left: 0;
    top: 0;
    margin-left: -17px;
    padding-left: 3px;
    padding-top: 3px;
    font-size: 14px;
    color: #333333;
}

.checkbox + .checkbox,
.radio + .radio {
    margin-top: 0;
}

.checkbox input[type="checkbox"] {
    opacity: 0;
}

.checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
}

.checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.3;
}

.checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #ebebeb;
    cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
    border-radius: 50%;
}

.checkbox.checkbox-inline {
    margin-top: 0;
}

.checkbox-default input[type="checkbox"]:checked + label::before {
    background-color: #333333;
    border-color: #333333;
}

.checkbox-default input[type="checkbox"]:checked + label::after {
    color: white;
}

.checkbox-default label {
    color: #333333;
}

.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #ea7066;
    border-color: #ea7066;
}

.checkbox-primary input[type="checkbox"]:checked + label::after {
    color: white;
}

.checkbox-primary label {
    color: #ea7066;
}

.checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #93bc49;
    border-color: #93bc49;
}

.checkbox-success input[type="checkbox"]:checked + label::after {
    color: white;
}

.checkbox-success label {
    color: #93bc49;
}

.checkbox-info input[type="checkbox"]:checked + label::before {
    background-color: #54bedc;
    border-color: #54bedc;
}

.checkbox-info input[type="checkbox"]:checked + label::after {
    color: white;
}

.checkbox-info label {
    color: #54bedc;
}

.checkbox-warning input[type="checkbox"]:checked + label::before {
    background-color: #e2a740;
    border-color: #e2a740;
}

.checkbox-warning input[type="checkbox"]:checked + label::after {
    color: white;
}

.checkbox-warning label {
    color: #e2a740;
}

.checkbox-danger input[type="checkbox"]:checked + label::before {
    background-color: #de3f3f;
    border-color: #de3f3f;
}

.checkbox-danger input[type="checkbox"]:checked + label::after {
    color: white;
}

.checkbox-danger label {
    color: #de3f3f;
}

/* / End Checkboxes */
/* / End Buttons */
/* Tabs & Accordions */
/* Tabs */
.nav-tabs {
    border-bottom: 3px solid #ebebeb;
}

.nav-tabs > li {
    float: none;
    margin-bottom: -3px;
    display: inline-block;
}

.nav-tabs > li > a {
    position: relative;
    z-index: 0;
    display: block;
    color: #666666;
    font-size: 12px;
    text-decoration: none;
    font-weight: 500;
    margin-right: 0;
    padding: 20px;
    line-height: 1.5;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid transparent;
    border-radius: 0;
}

.nav-tabs > li > a:focus {
    background: transparent;
    border: 0 !important;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    color: #ea7066;
    background: none;
    border: none;
    border-bottom: 3px solid #ea7066 !important;
    -webkit-transition: 0s;
    -moz-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
}

.nav > li > a:hover {
    background: none;
    border: none;
}

.nav-tabs > li {
    float: none;
    margin-bottom: -3px;
    display: inline-block;
}

.nav-pills.text-right > li {
    float: none;
    display: inline-block;
}

.nav.nav-pills a:hover {
    color: white;
    background: #f0c24b;
}

.tab-content {
    padding-top: 30px;
}

/* / End Tabs */
/* Accordions */
.panel-group {
    margin-bottom: 10px;
}

.panel-group .panel {
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
}

.panel-group .panel-heading {
    padding: 10px 0;
    border: none;
    border-radius: 0;
}

.panel-group .panel-title {
    font-size: 14px;
    font-weight: 400;
}

.panel-group .panel-heading + .panel-collapse > .list-group,
.panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top: none;
}

.panel-group .panel-heading > a:after {
    display: inline-block;
    vertical-align: middle;
    font-family: "FontAwesome";
    font-size: 10px;
    content: "\f068";
    margin-top: -2px;
    margin-left: 10px;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.panel-group .panel-heading .panel-title.collapsed:after {
    content: "\f067";
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.panel-group .panel-body {
    padding: 15px 0;
}

.panel-group.tabbed .panel-heading {
    background: #ebebeb;
    padding: 10px 15px;
}

.panel-group.tabbed a {
    color: #666666;
}

.panel-group.tabbed .panel-heading > a:after {
    float: right;
}

.panel-group.tabbed .panel-heading .panel-title.collapsed:after {
    float: right;
}

/* / End Accordions */
/* / End Tabs & Accordions */
/* Labels Badges & Alerts */
/* Labels */
.label {
    font-weight: 400;
    padding: .2em .6em;
    line-height: 2.5em;
    border-radius: 0;
}

.label-pill {
    border-radius: 5em;
}

.label-default {
    color: #333333;
    background-color: transparent;
    border: 2px solid #333333;
}

.label-default-filled {
    color: white;
    background-color: #333333;
    border: 2px solid #333333;
}

.label-primary {
    color: #ea7066;
    background-color: transparent;
    border: 2px solid #ea7066;
}

.label-primary-filled {
    color: white;
    background-color: #ea7066;
    border: 2px solid #ea7066;
}

.label-success {
    color: #93bc49;
    background-color: transparent;
    border: 2px solid #93bc49;
}

.label-success-filled {
    color: white;
    background-color: #93bc49;
    border: 2px solid #93bc49;
}

.label-info {
    color: #54bedc;
    background-color: transparent;
    border: 2px solid #54bedc;
}

.label-info-filled {
    color: white;
    background-color: #54bedc;
    border: 2px solid #54bedc;
}

.label-warning {
    color: #e2a740;
    background-color: transparent;
    border: 2px solid #e2a740;
}

.label-warning-filled {
    color: white;
    background-color: #e2a740;
    border: 2px solid #e2a740;
}

.label-danger {
    color: #de3f3f;
    background-color: transparent;
    border: 2px solid #de3f3f;
}

.label-danger-filled {
    color: white;
    background-color: #de3f3f;
    border: 2px solid #de3f3f;
}

/* / End Labels */
/* Badges */
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
    color: white;
    background-color: #ea7066;
}

.nav-pills > li > a:hover {
    color: white;
    background-color: #cccccc;
}

.nav-pills > li > a {
    font-size: 12px;
    border-radius: 0;
    padding: 8px 14px;
}

.badge {
    color: white;
    background-color: #ea7066;
    font-size: 10px;
    font-weight: 400;
    border-radius: 0;
    padding: 6px 8px;
}

.active .badge {
    color: #ea7066 !important;
}

/* / End Badges */
/* Alerts */
.alert {
    border: 2px solid transparent;
    border-radius: 0;
}

.alert-success {
    color: white;
    background-color: #93bc49;
    border-color: #7ea03f;
}

.alert-success .close {
    color: #7ea03f;
}

.alert-info {
    color: white;
    background-color: #54bedc;
    border-color: #3a9fbc;
}

.alert-info .close {
    color: #3a9fbc;
}

.alert-warning {
    color: white;
    background-color: #e2a740;
    border-color: #cb9538;
}

.alert-warning .close {
    color: #cb9538;
}

.alert-danger {
    color: white;
    background-color: #de3f3f;
    border-color: #bf3535;
}

.alert-danger .close {
    color: #bf3535;
}

.alert-dismissible .close {
    font-size: 16px;
    top: -14px;
    right: -31px;
    text-shadow: none;
    opacity: 1;
}

.alert-dismissible .close:hover {
    opacity: 0.8;
}

.alert-sm {
    font-size: 14px;
    padding: 5px;
}

.alert i {
    margin: 0 10px 0 5px;
}

.alert-sm.alert-dismissible .close {
    top: -5px;
    right: -2px;
}

/* / End Alerts */
/* / End Labels Badges & Alerts */
/* Listgroups & Panels */
/* Listgroups */
.list-group-item {
    color: #666666;
    background-color: white;
    font-size: 14px;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
}

.list-group-item p {
    font-size: 14px;
}

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
    color: white;
    background-color: #ea7066;
    border-color: #ea7066;
}

a.list-group-item:hover {
    color: #ea7066;
}

a.list-group-item,
button.list-group-item {
    color: #666666;
}

.list-group-item.active .list-group-item-text,
.list-group-item.active:focus .list-group-item-text,
.list-group-item.active:hover .list-group-item-text {
    color: white;
}

a.list-group-item .list-group-item-heading,
button.list-group-item .list-group-item-heading {
    color: #111111;
}

/* / End Listgroups */
/* Panels */
.panel-title {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05em;
}

.panel-default {
    border-color: #111111;
}

.panel-default > .panel-heading {
    color: white;
    background-color: #333333;
    border-color: #111111;
}

.panel-success {
    border-color: #7ea03f;
}

.panel-success > .panel-heading {
    color: white;
    background-color: #93bc49;
    border-color: #7ea03f;
}

.panel-primary {
    border-color: #f0c24b;
}

.panel-primary > .panel-heading {
    color: white;
    background-color: #ea7066;
    border-color: #f0c24b;
}

.panel-info {
    border-color: #3a9fbc;
}

.panel-info > .panel-heading {
    color: white;
    background-color: #54bedc;
    border-color: #3a9fbc;
}

.panel-warning {
    border-color: #cb9538;
}

.panel-warning > .panel-heading {
    color: white;
    background-color: #e2a740;
    border-color: #cb9538;
}

.panel-danger {
    border-color: #bf3535;
}

.panel-danger > .panel-heading {
    color: white;
    background-color: #de3f3f;
    border-color: #bf3535;
}

/* / End Panels */
/* Well */
.well {
    min-height: 20px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #ebebeb;
    border: 1px solid #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

.rounded-well {
    border-radius: 5px;
}

/* / End Well */
/* Jumbotron */
.jumbotron {
    background: #ebebeb;
    border: 1px solid #cccccc;
    border-radius: 0 !important;
}

.rounded-jumbotron {
    border-radius: 5px !important;
}

.jumbotron h1 {
    color: #ea7066;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 25px;
}

.jumbotron p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 25px;
}

/* / End Jumbotron */
/* / End Listgroups & Panels */
/* Progress Bars */
.progress {
    height: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #ebebeb;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.progress-bar {
    font-size: 12px;
    line-height: 20px;
    color: white;
    background-color: #ea7066;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    position: relative;
}

.progress-bar-default {
    background-color: #333333;
}

.progress-bar-primary {
    background-color: #ea7066;
}

.progress-bar-success {
    background-color: #93bc49;
}

.progress-bar-info {
    background-color: #54bedc;
}

.progress-bar-warning {
    background-color: #e2a740;
}

.progress-bar-danger {
    background-color: #de3f3f;
}

.progress-label .sr-only {
    display: none;
}

.progress-bar span {
    border-radius: 15px;
    display: inline-block;
    height: 24px;
    letter-spacing: 0;
    line-height: 23px;
    min-width: 24px;
    padding: 0 3px;
    position: absolute;
    right: -5px;
    text-align: center;
    bottom: 0;
}

/* / End Progress Bars */
/* Tables */
table {
    width: 100%;
    max-width: 100%;
}

table > caption + thead > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > th,
table > thead:first-child > tr:first-child > td {
    border-top: 0;
}

table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 1px solid #cccccc;
}

table > thead > tr > th,
table > thead > tr > td {
    border-bottom-width: 2px !important;
}

table > thead > tr > th,
table > thead > tr > td,
table > tbody > tr > th,
table > tbody > tr > td,
table > tfoot > tr > th,
table > tr > td {
    padding: 15px;
    line-height: 1.5;
    vertical-align: top;
    border-bottom: 1px solid #ebebeb;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f8f8f8 !important;
}

/* / End Tables */
/* End Base CSS */
/* Headers */
#top {
    position: absolute;
    top: 0;
}

/* Navigations */
/* Top Menus */
.top-menu {
    background-color: #f8f8f8;
}

.top-menu-inverse {
    background-color: #333333;
}

.top-menu-primary {
    background-color: #ea7066;
}

.top-menu p {
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 0;
    padding: 14px 0;
}

.top-menu .right a {
    padding: 14px;
    margin-top: -2px;
}

.top-menu .right i {
    margin-right: 5px;
}

.top-menu .right {
    float: right;
    margin-top: -2px;
}

.top-menu .social a {
    margin-left: 5px;
    margin-right: 0;
}

.top-menu .social a:hover {
    color: #ea7066 !important;
    background-color: transparent;
}

.top-menu a {
    color: #666666 !important;
    font-size: 12px !important;
    line-height: 12px;
    font-weight: 400;
}

.top-menu a:hover {
    color: white !important;
    background-color: #ea7066;
}

.top-menu-inverse a {
    color: #cccccc !important;
}

.top-menu-primary a {
    color: white !important;
}

.top-menu-primary a:hover {
    color: #ebebeb !important;
}

.top-menu-inverse p {
    color: #cccccc !important;
}

.top-menu-primary p {
    color: white !important;
}

.btn-top-menu {
    background: transparent;
    font-size: 10px !important;
    font-weight: 700;
    border: 2px solid #666666;
    margin: -3px 0 0 10px;
    padding: 5px 0;
}

.btn-top-menu:hover {
    border: 2px solid #ea7066;
}

.btn-top-menu a {
    font-size: 10px !important;
    margin: 0 !important;
    padding: 8px;
}

.btn-top-menu-inverse {
    background: transparent;
    font-size: 10px !important;
    font-weight: 700;
    border: 2px solid #cccccc;
    margin: -3px 0 0 10px;
    padding: 5px 0;
}

.btn-top-menu-inverse:hover {
    border: 2px solid #ea7066;
}

.btn-top-menu-inverse a {
    font-size: 10px !important;
    margin: 0 !important;
    padding: 8px;
}

.top-menu a.shopping-cart {
    font-size: 14px;
    line-height: 14px;
    position: relative;
    width: 45px;
    height: 20px;
}

.top-menu .right a.shopping-cart i {
    margin-right: 15px;
}

.top-menu .cart-badge {
    position: absolute;
    top: 8px;
    right: 6px;
    color: white;
    background: #f0c24b;
    border-radius: 50%;
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
    padding: 2px 4px;
}

/* End Top Menus */
.navbar {
    border: 0;
    border-radius: 0 !important;
    margin-bottom: 0;
}

.navbar-fixed-top {
    border-radius: 0;
}

.navbar-nav {
    padding-left: 15px;
    padding-right: 0;
}

.navbar-nav > li > a {
    line-height: 80px;
    padding: 0 15px !important;
}

.container > .navbar-header {
    margin-right: 0;
    margin-left: 0;
}

.navbar > .container-fluid .navbar-brand {
    margin-left: 0;
}

.navbar-brand {
    color: #cccccc !important;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    height: auto;
    padding: 20px 15px;
}

.navbar-brand span {
    color: #ea7066;
}

.navbar-toggle {
    margin: 0;
    border: 0;
    padding: 25.5px 5px;
}

.navbar-collapse {
    text-align: center;
    padding-right: 0;
}

.navbar-brand > img {
    width: auto;
    max-height: 40px;
}

.navbar-toggle .icon-bar {
    background: #ea7066;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.dropdown-menu {
    z-index: 9999;
    border-radius: 0 !important;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
    color: #ea7066;
    background-color: transparent;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 100px;
    padding: 10px;
    margin-top: 5px;
    margin-left: -35px;
    background-color: white;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.dropdown-menu > li > a {
    color: #111111;
    padding: 7px 20px;
}

.dropdown-menu > li > a:hover {
    color: #f0c24b;
    background: transparent;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 3px 0;
    background-color: #ebebeb;
}

.dropdown .dropdown-icon {
    color: #cccccc;
    font-size: 7px;
    line-height: 16px;
    font-family: FontAwesome;
    margin-left: 5px;
}

.nav-transparent .dropdown .dropdown-icon {
    color: #333333;
}

.dropdown .dropdown-icon:before {
    content: "\f067";
}

.dropdown.open .dropdown-icon:before {
    content: "\f068";
}

/* Default Navbar */
.navbar-default {
    background-color: white;
    border: none !important;
    border-bottom: 1px solid #ebebeb !important;
}

.top-nav-collapse {
    background-color: white !important;
}

.nav-transparent {
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: #111111;
    font-size: 12px;
    font-weight: 500;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #ea7066;
}

.navbar-default .navbar-nav > li > a:focus {
    color: #ea7066 !important;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    color: #ea7066;
    background-color: transparent;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    color: #ea7066;
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #111111;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .dropdown-menu > li > a {
    font-size: 13px;
    font-weight: 500;
}

/* End Default Navbar */
/* Stacked Menu */
.stacked-menu {
    text-align: center;
}

.stacked-menu .navbar-brand {
    float: none;
    display: inline-block;
    padding-bottom: 0;
}

.stacked-menu .navbar-nav {
    float: none;
    display: inline-block;
}

.stacked-menu .navbar-nav > li > a {
    padding-top: 0;
}

.stacked-menu .navbar-collapse {
    padding-left: 0;
}

/* / End Stacked Menu */
.secondary-nav a {
    color: #111111;
}

.secondary-nav a:hover {
    color: #ea7066;
}

.secondary-nav a.shopping-cart {
    line-height: 14px;
    position: relative;
    width: 45px;
    height: 20px;
}

.secondary-nav a.shopping-cart i {
    margin-right: 15px;
}

.secondary-nav .cart-badge {
    position: absolute;
    top: -4px;
    right: 6px;
    color: white;
    background: #f0c24b;
    border-radius: 50px;
    font-size: 9px;
    font-weight: 400;
    line-height: 10px;
    padding: 2px 4px;
}

/* End Navigations */
/* Banners */
#header-banner {
    background-color: #ebebeb;
}

#header-banner.demo-1 {
    background: url("../images/banner-bg1.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #cccccc;
}

#header-banner.demo-2 {
    background: url("../images/banner-bg2.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #cccccc;
}

#header-banner.demo-3 {
    background: url("../images/banner-bg3.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #cccccc;
}

#header-banner.demo-4 {
    background: url("../images/banner-bg4.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #cccccc;
}

#header-banner.demo-5 {
    background: url("../images/banner-bg5.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #cccccc;
}

#header-banner.demo-6 {
    background: url("../images/banner-bg6.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #cccccc;
}

.banner-content {
    padding: 235px 0;
    margin-top: 80px;
}

.banner-w-menu .banner-content {
    padding-top: 120px;
}

.just-top-nav {
    margin-top: 40px;
}

.banner-content.single-page {
    padding: 80px 0;
}

.banner-content.single-page .banner-info h1 {
    margin-bottom: 0;
}

.banner-content.single-page .banner-info p {
    margin-top: 10px;
}

.banner-border {
    width: 420px;
    border: 2px solid rgba(255, 255, 255, 0.75);
    border-radius: 7px;
    margin: 0 auto;
    padding: 10px;
}

.banner-border .banner-info {
    background: rgba(255, 255, 255, 0.75);
    width: 396px;
    margin: 0;
    padding: 50px 0;
}

.banner-info {
    background: rgba(255, 255, 255, 0.75);
    width: 400px;
    border-radius: 5px;
    margin: 0 auto;
    padding: 50px 0;
}

.banner-info.primary {
    background: rgba(195, 157, 109, 0.75);
}

.banner-info.primary h1,
.banner-info.primary p {
    color: white;
}

.banner-info h1 {
    color: #ea7066;
    font-size: 24px;
    margin-bottom: 10px;
}

.banner-info p {
    margin-bottom: 0;
}

/* End Banners */
/* End Headers */
/* Content */
section {
    padding: 50px 0;
}

/* Collections */
#collections {
    padding-top: 50px;
    padding-bottom: 20px;
}

.collections {
    padding: 0;
}

.collection {
    margin-bottom: 30px;
    position: relative;
}

.collection img {
    -webkit-transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
    -o-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
}

.collection img:hover {
    opacity: 0.75;
}

/* End Collections */
/* Features */
#features {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    padding: 50px 0;
}

#features .container {
    padding: 0 30px;
}

.feature.block {
    padding: 50px 20px;
}

.feature i {
    color: #ea7066;
    font-size: 30px;
}

.feature h5 {
    margin-top: 20px;
    margin-bottom: 15px;
}

.feature p {
    margin-bottom: 0;
}

.feature-center {
    text-align: center;
    padding: 15px;
}

.feature-center.bg-light {
    background-color: #f8f8f8;
}

.feature-center.bg-dark {
    background-color: #ebebeb;
}

.feature-center .feature-icon {
    margin-bottom: 10px;
}

/* End Features */
/* Categories */
.category {
    text-align: center;
    margin-bottom: 30px;
}

.category-item {
    position: relative;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border-radius: 0;
    border: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

.category h4 {
    color: white;
    margin: 0;
}

.category .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(150, 150, 150, 0.75);
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.category .overlay:hover {
    background-color: transparent;
}

.category .caption {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    padding: 10px;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* End Categories */
/* Shop */
#shop {
    padding-top: 0;
}

#shop .product {
    padding-top: 15px;
    padding-bottom: 15px;
}

#shop.no-gutter .product {
    margin: 0;
    padding: 0;
}

#shop .container-fluid {
    margin: 0;
    padding: 0;
}

#shop.info-box .container-fluid {
    margin: 0 15px;
}

#shop.w-shadow .product .img-bg-color {
    -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
    -webkit-transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
    -o-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
}

#shop.w-shadow .product:hover .img-bg-color {
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#shop ul.shop {
    margin-bottom: 0 !important;
}

.product-filter {
    margin-top: 40px;
    margin-bottom: 10px;
}

.product-filter.list-inline li {
    padding: 0;
}

.product-filter a {
    color: #666666;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.1em;
    line-height: 40px;
    border: 2px solid transparent;
    margin: 0 5px;
    padding: 10px 8px;
}

.product-filter a.active {
    color: #ea7066;
    background-color: transparent;
    border: 2px solid transparent;
}

.product-filter a:hover {
    color: #ea7066;
    background-color: transparent;
    border: 2px solid transparent;
}

/* Hover Effect */
.product-hover-tools {
    position: absolute;
    z-index: 2;
    bottom: 46%;
    right: 36%;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s, ease-in-out 0.3s;
    -moz-transition: opacity 0.3s, ease-in-out 0.3s;
    -o-transition: opacity 0.3s, ease-in-out 0.3s;
    transition: opacity 0.3s, ease-in-out 0.3s;
}

.product:hover .product-hover-tools {
    bottom: 43%;
    right: 36%;
    text-align: center;
    visibility: visible;
    opacity: 1;
}

.m-product .product-hover-tools {
    bottom: 49%;
}

.product.m-product:hover .product-hover-tools {
    bottom: 46%;
}

.product .img-bg-color.primary {
    background: #ea7066;
}

.product .img-bg-color.default {
    background: #333333;
}

.product img {
    -webkit-transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
    -o-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
}

.product:hover img {
    opacity: 0.25;
}

.view-btn {
    display: inline-block;
    color: #333333;
    background-color: white;
    width: 42px;
    height: 42px;
    text-align: center;
    line-height: 45px;
    text-decoration: none;
    vertical-align: middle;
    border-radius: 5px;
    margin: 3px;
}

.view-btn:hover {
    color: white;
    background-color: #333333;
}

.cart-btn {
    display: inline-block;
    color: white;
    background-color: #333333;
    width: 42px;
    height: 42px;
    text-align: center;
    line-height: 45px;
    text-decoration: none;
    vertical-align: middle;
    border-radius: 5px;
    margin: 3px;
}

.cart-btn i {
    margin-left: 3px;
}

.cart-btn:hover {
    color: white;
    background-color: #111111;
}

.product .img-bg-color.default .cart-btn {
    color: white;
    background-color: #ea7066;
}

.product .img-bg-color.default .cart-btn:hover {
    color: white;
    background-color: #f0c24b;
}

.product-details {
    position: absolute;
    z-index: 2;
    bottom: 5%;
    left: 10%;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s, ease-in-out 0.3s;
    -moz-transition: opacity 0.3s, ease-in-out 0.3s;
    -o-transition: opacity 0.3s, ease-in-out 0.3s;
    transition: opacity 0.3s, ease-in-out 0.3s;
}

.product:hover .product-details {
    bottom: 8%;
    left: 10%;
    text-align: left;
    visibility: visible;
    opacity: 1;
}

.m-product .product-details {
    bottom: 2%;
}

.product.m-product:hover .product-details {
    bottom: 5%;
}

.product-title {
    color: white;
    font-size: 14px;
    letter-spacing: 0.1em;
    margin-bottom: 3px;
}

.product-price {
    color: #ea7066;
    background-color: #f8f8f8;
    border: 1px solid #f8f8f8;
    border-radius: 5px;
    position: absolute;
    font-size: 14px;
    font-weight: 500;
    line-height: 45px;
    height: 45px;
    top: 30px;
    right: 30px;
    padding: 0 10px;
    z-index: 9;
}

.product-price del {
    color: #666666;
    margin-right: 5px;
}

.product .product-category {
    color: #f8f8f8;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.mfp-arrow {
    color: white;
    opacity: 0.7 !important;
}

.mfp-arrow:hover {
    opacity: 1 !important;
}

.mfp-arrow:after {
    border-top-width: 0 !important;
    border-bottom-width: 0 !important;
    top: 5px !important;
}

.mfp-arrow-right:before {
    border-left: none !important;
}

.mfp-arrow-left:before {
    border-right: none !important;
}

.mfp-arrow-right:after {
    content: "\e876" !important;
    font-family: 'Linearicons-Free' !important;
    font-size: 30px;
    border-right: none !important;
    margin-left: 25px !important;
}

.mfp-arrow-left:after {
    content: "\e875" !important;
    font-family: 'Linearicons-Free' !important;
    font-size: 30px;
    border-right: none !important;
    margin-left: 15px !important;
}

.tooltip {
    min-width: 90%;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    letter-spacing: 0.05em;
}

.tooltip-inner {
    color: #111111;
    border-radius: 3px;
    background-color: #f8f8f8;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #f8f8f8;
}

/* End Hover Effect */
/* Shop with Info Box */
#shop.info-box .product-filter a.active {
    color: #ea7066;
    background-color: transparent;
    border: 2px solid #ea7066;
}

#shop.info-box .product-filter a.active:hover {
    color: white;
    background-color: #ea7066;
    border: 2px solid #ea7066;
}

#shop.info-box .product-filter a:hover {
    color: white;
    background-color: #ea7066;
    border: 2px solid #ea7066;
}

#shop.info-box .product-details {
    background: white;
    position: relative;
    left: 0;
    bottom: 0;
    text-align: center;
    border: 1px solid #ebebeb;
    visibility: visible;
    opacity: 1;
    padding: 30px;
}

#shop.info-box .product-details h5 {
    color: #111111;
}

#shop.info-box .product-details p {
    color: #666666;
    margin-bottom: 0;
}

#shop.info-box .product-hover-tools {
    bottom: 60%;
    right: 37%;
}

#shop.info-box .product:hover .product-hover-tools {
    bottom: 57%;
    right: 37%;
    text-align: center;
    visibility: visible;
    opacity: 1;
}

#shop.info-box .m-product .product-hover-tools {
    bottom: 58%;
}

#shop.info-box .product.m-product:hover .product-hover-tools {
    bottom: 55%;
}

/* End Shop with Info Box */
/* Range Slider */
#range-slider {
    margin-top: 30px;
}

.noUi-horizontal {
    height: 10px !important;
}

.noUi-target {
    background: #ebebeb !important;
    border-radius: 50px !important;
    border: none !important;
    box-shadow: none !important;
}

.noUi-connect {
    background: #ea7066 !important;
    box-shadow: none !important;
}

.noUi-handle {
    border: 3px solid white !important;
    border-radius: 50px !important;
    background: #ea7066 !important;
    box-shadow: none !important;
}

.noUi-handle:before,
.noUi-handle:after {
    display: none !important;
}

.noUi-horizontal .noUi-handle {
    width: 20px !important;
    height: 20px !important;
    left: -8px !important;
    top: -5px !important;
}

.range-filter {
    display: table;
    width: 100%;
    padding: 25px 0;
}

.column {
    display: table-cell;
    vertical-align: middle;
}

.filter-button {
    width: 30%;
    display: inline-block;
}

.filter-button .btn {
    font-weight: 500;
    margin: 0;
}

.range-values {
    width: 70%;
    display: inline-block;
}

.range-values p {
    text-align: right;
    font-weight: 500;
    margin: 0;
}

/* End Range Slider */
/* Shop with Sidebar */
#shop .content-area {
    padding: 0;
}

#shop .widget {
    margin-bottom: 30px;
}

.selectpicker {
    background: #f8f8f8;
    font-weight: 400;
    border: 1px solid #ebebeb;
    height: 30px;
    margin-top: -15px;
}

.color.filter-item a {
    color: #666666;
}

.color.filter-item a:hover {
    opacity: 0.8;
}

.color.filter-item span {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid #ebebeb;
    border-radius: 50%;
    margin-right: 5px;
    margin-top: -2px;
    vertical-align: middle;
}

.color.filter-item span.color-red {
    background: #de3f3f;
}

.color.filter-item span.color-green {
    background: #93bc49;
}

.color.filter-item span.color-blue {
    background: #54bedc;
}

.color.filter-item span.color-black {
    background: black;
}

.color.filter-item span.color-white {
    background: white;
}

/* Shop with Sidebar */
/* Shopping Cart */
.shopping-cart {
    margin-top: 50px;
}

table.shopping-cart > tbody > tr > td {
    vertical-align: middle;
}

.cart-item img {
    max-width: 50px;
    -webkit-transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
    -ms-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
}

.cart-item img:hover {
    opacity: 0.75;
}

.qty input[type="number"] {
    max-width: 50px;
    max-height: 40px;
    border: 2px solid #ebebeb;
    border-radius: 5px;
    padding: 10px;
    float: left;
    outline: none !important;
}

.x-remove {
    text-align: center;
    color: white;
    background: #de3f3f;
    border: 2px solid #de3f3f;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    font-size: 16px;
    line-height: 26px;
    margin-right: 30px;
    padding: 0 0 0 1px;
    float: right;
}

.cart-footer {
    margin-top: 30px;
}

.cart-footer .btn {
    margin: 5px 0;
}

.coupon {
    padding: 0;
}

.coupon .form-control {
    min-height: 42px;
}

.coupon .btn {
    margin-left: 5px !important;
    margin-top: 0;
}

.update-cart {
    text-align: right;
    padding-right: 0;
}

.cart-checkout {
    text-align: right;
    padding: 50px 0 !important;
    padding: 0;
}

.cart-total {
    padding: 50px 0;
}

/* End Shopping Cart */
/* End Shop */
/* Blog Small */
#blog-small {
    background: #f8f8f8;
    padding: 60px 0;
}

.post-block {
    margin-top: 30px;
}

.post-block.slider .carousel-control {
    font-size: 14px;
}

.post-block.slider .carousel-control .lnr-chevron-left {
    position: absolute;
    color: white;
    background: #333333;
    top: 47%;
    left: 0;
    z-index: 5;
    display: inline-block;
    float: left;
    padding: 10px;
}

.post-block.slider .carousel-control .lnr-chevron-right {
    position: absolute;
    color: white;
    background: #333333;
    top: 47%;
    right: 0;
    z-index: 5;
    display: inline-block;
    float: right;
    padding: 10px;
}

.post-block.slider img:hover {
    opacity: 1;
}

.post-block img {
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

.post-block img:hover {
    opacity: 0.8;
}

.small-post-text {
    background: white;
    border: 1px solid #ebebeb;
    padding: 25px;
}

.post-block h5 a {
    color: #111111;
    font-size: 18px;
    letter-spacing: 0.1em;
    font-weight: 700;
}

.post-block h5 a:hover {
    color: #ea7066;
}

.small-post-text h5 {
    margin-bottom: 2px;
}

.small-post-meta {
    color: #999999;
    font-size: 12px;
    font-weight: 500;
}

.small-post-text a {
    font-size: 12px;
}

.small-post-footer {
    border-top: 1px solid #ebebeb;
    padding-top: 20px;
    margin-bottom: 0;
}

.post-icons i {
    color: #333333;
    font-size: 16px;
    padding: 5px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.post-icons i:hover {
    color: #ea7066;
}

/* End Blog Small */
/* Newsletter */
#newsletter {
    padding: 50px 0;
}

#newsletter .page-header {
    margin-top: 0;
}

#newsletter .input-group {
    width: 60%;
    margin: 0 auto;
}

#newsletter .form-control {
    color: #666666;
    background: #f8f8f8;
    font-weight: 400;
    letter-spacing: 0.05em;
    border: 1px solid #f8f8f8;
    border-radius: 0;
    padding: 10px 20px;
    min-height: 50px;
    -webkit-box-shadow: none;
    box-shadow: none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    z-index: 1;
}

#newsletter .input-group-btn {
    vertical-align: top;
}

#newsletter .btn-left.btn-newsletter.inside {
    font-weight: 500;
    letter-spacing: 0.1em;
    margin-left: -140px !important;
    margin-top: 0;
    padding: 14px 28px;
    z-index: 2;
}

/* End Newsletter */
/* Brands */
#brands {
    background-color: #333333;
    padding: 50px 0;
}

#brands .container {
    padding: 0;
}

#brands.primary-background {
    background-color: #ea7066;
}

#brands.dark h3 {
    color: white;
}

#brands.dark .page-header:after {
    background-color: white;
}

#brands img {
    width: auto;
    max-height: 70px;
    margin-left: 15px;
}

#brands .owl-controls {
    display: none !Important;
}

#brands .page-header {
    margin-top: 0;
}

/* End Brands */
/* Single Pages */
#page-content {
    padding: 50px 15px;
}

/* Single Product */
.product-info .info {
    margin: 15px 0;
}

.product-info span {
    margin-left: 15px;
}

.info-buttons {
    margin-top: 30px;
    padding: 20px 0;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}

.pagination {
    margin-top: 30px;
    padding: 25px 0;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    border-radius: 0;
    display: block;
}

.product-sidebar.w-bg {
    background-color: #f8f8f8;
    padding: 30px;
}

#product-slider {
    margin-bottom: 30px;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none !important;
}

.carousel-control {
    font-size: 20px;
    text-shadow: none;
}

.carousel-control .lnr-chevron-left {
    position: absolute;
    color: white;
    background: #333333;
    top: 48%;
    left: 0;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
    float: left;
    padding: 15px;
}

.carousel-control .lnr-chevron-right {
    position: absolute;
    color: white;
    background: #333333;
    top: 48%;
    right: 0;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
    float: right;
    padding: 15px;
}

.product-sidebar .product-sidebar-details {
    background-color: #f8f8f8;
    padding: 30px;
}

.product-info .info {
    margin: 15px 0;
}

.product-info span {
    margin-left: 20px;
}

.product-info .fa {
    color: #e2a740;
}

.buy-product {
    padding: 10px 0;
    display: inline-block;
}

.options input[type="number"] {
    max-width: 60px;
    max-height: 40px;
    background-color: white;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 10px 4px 10px 8px;
    outline: none !important;
}

.buy-product .selectors {
    display: inline;
    position: relative;
    width: 100%;
}

.buy-product .selectpicker {
    background: white;
    font-weight: 400;
    border: 1px solid #cccccc;
    max-width: 100px;
    height: 40px;
    position: absolute;
    margin-top: 0;
    margin-left: 10px;
}

.buy-product .selectpicker.two {
    max-width: 100px;
    left: 103px;
}

.product-sidebar-details .btn {
    margin-left: 0;
}

.info-buttons {
    margin-top: 15px;
    padding: 20px 0;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
}

.review-author img {
    max-width: 70px;
    display: inline-block;
    border-radius: 5px;
}

.review-content {
    padding-left: 90px;
}

.review-stars {
    padding: 15px 0;
}

.review-content .fa {
    color: #e2a740;
}

.fa-star {
    color: #e2a740;
}

.fa-star-o {
    color: #e2a740;
}

.fa-star-half-o {
    color: #e2a740;
}

.review-form {
    padding-left: 0;
    padding-right: 15px;
}

#related-products {
    margin-top: 30px;
    padding-top: 15px;
    border-top: solid 3px #ebebeb;
}

/* End Single Product */
/* About Pages */
.section-w-image {
    position: relative;
    padding: 0 15px;
}

.about-description {
    background-color: #f8f8f8;
    padding: 30px;
}

.about-img {
    position: absolute;
    background: url(../images/about-img.jpg) scroll center no-repeat;
    background-size: cover;
    height: 100%;
}

.about-me-img {
    position: absolute;
    background: url(../images/about-me-img.html) scroll center no-repeat;
    background-size: cover;
    height: 100%;
}

#facts {
    padding: 30px 0;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}

.fact-icon {
    color: #ea7066;
    font-size: 26px;
    display: block;
    margin-top: 0;
    margin-bottom: 15px;
}

.timer {
    color: #333333;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 15px;
}

.fact-title {
    color: #666666;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}

#team .container {
    padding: 0;
}

.team img {
    margin-bottom: 0;
}

.team .team-info-box {
    padding: 15px;
    border: 1px solid #ebebeb;
}

.team .social {
    margin-bottom: 0;
}

.social i {
    margin: 0 5px;
}

/* Pricing Tables */
#pricing {
    padding-top: 60px;
}

.stacked > .col-sm-4,
.stacked > .col-md-3 {
    padding-left: 0;
    padding-right: 0;
}

.pricing-table {
    background: #f8f8f8;
    text-align: center;
    margin-bottom: 30px;
}

.pricing-table ul,
.pricing-table ol {
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 500;
}

.pricing-table ul span {
    font-weight: 700;
    letter-spacing: 0.1em;
}

.pricing-title {
    color: white;
    background-color: #333333;
    font-size: 18px;
    font-weight: 500;
    padding: 30px;
}

.featured .pricing-title {
    background-color: #ea7066;
}

.pricing-table-price {
    font-weight: 500;
    padding: 30px 20px;
}

.pricing-table-price p {
    color: #111111;
}

.featured .pricing-currency {
    color: #ea7066;
}

.featured .pricing-price {
    color: #ea7066;
}

.pricing-currency {
    font-size: 18px;
    font-weight: 500;
    vertical-align: 30px;
}

.pricing-price {
    font-size: 60px;
    font-weight: 500;
}

.pricing-period {
    font-weight: 500;
}

.pricing-table-content li {
    margin-bottom: 15px;
}

.pricing-table-button {
    padding: 15px 0 35px;
}

.stacked .pricing-table {
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
}

.stacked .pricing-table {
    position: relative;
    z-index: 1;
}

.stacked .featured.pricing-table {
    position: relative;
    z-index: 2;
    margin-top: -32px;
}

.stacked .featured .pricing-table-price {
    padding: 45px 20px;
}

.stacked .featured .pricing-table-button {
    padding: 35px 0 55px;
}

.stacked .col-md-3 .featured.pricing-table {
    margin-top: -22px;
}

.stacked .col-md-3 .featured .pricing-table-price {
    padding: 40px 20px;
}

.stacked .col-md-3 .featured .pricing-table-button {
    padding: 25px 0 45px;
}

/* End Pricing Tables */
/* End About Pages */
/* Blog Pages */
.blog.block img {
    margin: 0;
}

.blog .btn {
    margin: 0;
}

.blog .btn-social {
    margin-left: 0;
}

.post-info-box {
    border: 1px solid #ebebeb;
    padding: 25px;
}

.blog-post-footer {
    border-top: 1px solid #ebebeb;
    padding-top: 30px;
    margin-top: 30px;
    margin-bottom: 10px !important;
}

.blog-post-footer .post-icons {
    margin-top: 10px;
}

#blog .about-sidebar-widget img {
    margin-bottom: 25px;
}

.tags-sidebar-widget .btn {
    margin: 2.5px 0;
}

#blog-masonry {
    padding-top: 20px;
    padding-bottom: 50px;
}

#blog .padd15 {
    padding: 0 15px;
}

#blog .post-content-area p {
    margin-bottom: 20px;
}

#blog .post-category {
    padding: 15px 0;
    border-bottom: 1px solid #ebebeb;
}

#blog .post-category span {
    color: #666666;
}

#blog .blog-post-small {
    padding-bottom: 20px;
}

#blog .blog-post-small.first-post {
    border-bottom: 1px solid #cccccc;
    margin-top: 0;
}

#blog .blog-post-small.mid-post {
    border-bottom: 1px solid #cccccc;
    margin-top: 25px;
}

#blog .blog-post-small.last-post {
    margin-top: 25px;
    padding-bottom: 0;
}

#blog .blog-posts-small img {
    max-width: 66px;
    margin: 0 10px 0 0;
    float: left;
}

#blog .blog-posts-small a {
    font-size: 14px;
}

#blog .carousel-control .lnr-chevron-left {
    position: absolute;
    color: white;
    top: 44%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
    float: left;
}

#blog .carousel-control .lnr-chevron-right {
    position: absolute;
    color: white;
    top: 44%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
}

.media-object {
    max-width: 175px;
    max-height: 175px;
}

.media-left {
    float: left !important;
}

.media-right {
    float: right !important;
}

.post-footer {
    padding: 10px 0;
    min-height: 120px;
}

.post-author-block {
    background: #ebebeb;
    padding: 60px 30px;
    text-align: left;
}

.post-author-block img {
    max-width: 100px;
    float: left;
    margin-right: 30px;
    border: 3px solid white;
    border-radius: 100%;
}

.post-author-block p {
    margin-bottom: 0;
}

.comments {
    margin-top: 60px;
}

.comments img {
    max-width: 65px;
    border-radius: 5px;
}

.comment-date {
    font-size: 12px;
    margin-bottom: 2px;
}

.comment-author {
    font-size: 14px;
    margin-bottom: 2px;
}

.comment-author a {
    font-weight: 400;
}

.comment p {
    font-size: 13px;
    margin-bottom: 2px;
}

.comment-log-in {
    font-size: 12px;
    font-weight: 400;
}

/* Comment Form */
#comment-form {
    margin: 50px 0;
}

#commentForm .form-control {
    color: #666666;
    background: #f8f8f8;
    font-weight: 400;
    letter-spacing: 0.05em;
    border: 1px solid #ebebeb;
    border-radius: 0;
    margin-bottom: 30px;
    padding: 10px 20px;
    min-height: 50px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#commentForm textarea {
    max-width: 100%;
    min-height: 130px !important;
    max-height: 211px;
    margin-bottom: 30px;
}

#comment-form .form-group {
    margin-bottom: 0;
}

#comment-form #commentForm {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#comment-form .btn-form-submit {
    width: 100%;
    border-radius: 0;
    padding: 14px 24px;
    margin: 0;
}

/* End Comment Form */
#blog .embed-responsive {
    margin-bottom: 0;
}

.pagination {
    margin-top: 50px;
    padding: 25px 15px;
    border-top: 1px solid #ebebeb;
    border-bottom: 0;
    border-radius: 0;
    display: block;
}

#blog blockquote {
    font-size: 14px;
}

/* End Blog Pages */
/* Contact Pages */
.contact-info {
    padding: 30px;
}

.contact-icon {
    margin-bottom: 10px;
}

.contact-icon i {
    color: #ea7066;
    font-size: 25px;
}

.contact-info p {
    font-weight: 500;
}

.social-contact a i {
    margin-left: 3px;
}

#map {
    width: 100%;
    height: 382px;
}

.contact-text img {
    margin-bottom: 15px;
    padding-left: 0;
}

/* Contact Form */
.form-control {
    color: #666666;
    background: #f8f8f8;
    font-weight: 400;
    letter-spacing: 0.05em;
    border: 1px solid #ebebeb;
    border-radius: 0;
    margin-bottom: 30px;
    padding: 10px 20px;
    min-height: 50px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#contactForm .form-control {
    color: #666666;
    background: #f8f8f8;
    font-weight: 400;
    letter-spacing: 0.05em;
    border: 1px solid #ebebeb;
    border-radius: 0;
    margin-bottom: 30px;
    padding: 10px 20px;
    min-height: 50px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#contactForm textarea {
    max-width: 100%;
    min-height: 130px !important;
    max-height: 211px;
    margin-bottom: 30px;
    padding: 20px !important;
}

::-webkit-input-placeholder {
    color: #cccccc !important;
    font-size: 12px !important;
    font-weight: 500;
    letter-spacing: 0.1em;
}

:-moz-placeholder {
    color: #cccccc !important;
    font-size: 12px !important;
    font-weight: 500;
    letter-spacing: 0.1em;
}

::-moz-placeholder {
    color: #cccccc !important;
    font-size: 12px !important;
    font-weight: 500;
    letter-spacing: 0.1em;
}

:-ms-input-placeholder {
    color: #cccccc !important;
    font-size: 12px !important;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.has-error .form-control {
    color: #de3f3f !important;
    border: 1px solid #de3f3f !important;
}

.help-block.with-errors li {
    color: #de3f3f;
    font-size: 13px;
    margin-top: -30px;
    margin-bottom: 0;
}

#msgSubmit.h3 {
    font-size: 14px;
    margin-top: 5px;
}

#contact-form .form-group {
    margin-bottom: 0;
}

#contact-form #contactForm {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#contact-form .btn-form-submit {
    width: 100%;
    font-weight: 500;
    letter-spacing: 0.1em;
    border-radius: 0;
    padding: 14px 24px;
    margin: 0;
}

/* End Contact Form */
/* End Contact Pages */
/* 404 Page */
.pnf-content {
    padding: 80px 15px;
}

/* End 404 Page */
/* Login & Register Page */
#login-form {
    width: 100%;
    background: white;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    padding: 35px;
}

#register-form {
    width: 100%;
    background: white;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    padding: 35px;
}

.log-line {
    padding: 0 0 35px 0;
    margin-bottom: 35px;
}

.log-line .checkbox {
    margin-left: 10px;
}

/* End Login & Register Page */
/* My Account Page */
.account-sidebar img {
    max-width: 100px;
    border-radius: 5px;
    margin-left: 0;
    margin-bottom: 30px;
}

.account-info-content {
    background-color: #f8f8f8;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 30px;
}

.account-info-content h4 {
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 30px;
    padding-bottom: 30px;
    vertical-align: middle;
}

.account-info-content h4 a.btn {
    margin-top: -6px !important;
}

#personal-info img {
    max-width: 100px;
    border-radius: 5px;
    margin-left: 0;
    margin-bottom: 15px;
}

#my-account p span {
    color: #111111;
}

.account-info-footer {
    border-top: 1px solid #cccccc;
    margin-top: 30px;
    padding-top: 15px;
}

/* End My Account Page */
/* Checkout Page */
.checkout-screen {
    padding: 50px 0;
}

.checkout-form {
    padding: 0;
}

.checkout-screen .btn {
    margin-left: 0;
}

/* End Checkout Page */
/* End Single Pages */
/* End Content */
/* Footers */
footer .widget {
    margin: 0;
    border: none;
}

.footer-info .container {
    padding: 0 30px;
}

.footer-info {
    background: white;
    border-top: 1px solid #ebebeb;
}

.footer-info span {
    vertical-align: middle;
    padding: 20px 0;
}

.footer-info p {
    padding: 30px 0;
}

.footer-info span img {
    display: inline-block;
    max-width: 40px;
    margin-left: 10px;
    vertical-align: middle;
}

footer p {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    margin-bottom: 0;
}

footer .copyright {
    margin-top: 6px;
}

footer .social a {
    font-size: 14px;
    line-height: 14px;
    margin-left: 10px;
}

.light-footer {
    background: #ebebeb;
}

.light-footer p {
    color: #666666;
}

.dark-footer {
    background: #222222;
}

.dark-footer p {
    color: #cccccc;
}

.color-footer {
    background: #ea7066;
}

.color-footer .widget-area {
    background: #f0c24b;
}

.color-footer p {
    color: white;
}

.color-footer a {
    color: white;
}

.color-footer a:hover {
    color: #cccccc;
}

.color-footer p a {
    color: white;
}

.color-footer p a:hover {
    color: #cccccc;
}

/* Footer Widgets */
.light-footer .widget-area {
    background: #f8f8f8;
}

.dark-footer .widget-area {
    background: black;
}

.color-footer .widget-area {
    background: #f0c24b;
}

footer .widget-title {
    text-align: left;
    margin-bottom: 30px;
}

footer .widget-title-image {
    margin-bottom: 30px;
}

footer .widget-title h4 {
    margin-bottom: 6px;
}

footer .widget-title:after {
    content: "";
    background: #ea7066;
    position: absolute;
    height: 2px;
    width: 30px;
    margin-left: 0;
}

.dark-footer .widget-title h4 {
    color: white;
}

.color-footer .widget-title h4 {
    color: white;
}

footer .widget-area {
    font-size: 14px;
    padding: 50px 0;
}

footer .about-widget p {
    line-height: 20px;
}

footer .about-widget img {
    width: auto;
    max-height: 25px;
    margin: 0;
}

footer .info {
    margin-bottom: 10px;
}

footer .contact-widget i {
    font-size: 18px;
}

footer .contact-widget .social i {
    font-size: 14px;
    margin: 0;
}

footer .contact-widget span {
    margin-left: 20px;
    margin-top: 3px;
    line-height: 14px;
    position: absolute;
    white-space: nowrap;
}

footer .newsletter-widget .btn-newsletter {
    margin-left: 0 !important;
    padding: 10px 20px;
}

footer #newsletter .form-control {
    margin-bottom: 12px;
    padding: 5px 20px;
    min-height: 42px;
}

/* End Footer Widgets */
/* End Footer */
/* Scroll to Top */
.scroll-to-top {
    background: #f0c24b;
    color: white;
    width: 30px;
    height: 30px;
    bottom: 20px;
    right: 20px;
    line-height: 25px;
    border: 2px solid #f0c24b;
    border-radius: 5px;
    position: fixed;
    text-align: center;
    font-size: 18px;
    z-index: 99;
}

.scroll-to-top.is-hidden {
    opacity: 0;
    -webkit-transform: translate(0, -5px);
    -webkit-transition: -webkit-transform 0.2s, background 0.2s, color 0.2s, opacity 0 0.2s;
}

.scroll-to-top.is-visible {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -webkit-transition: -webkit-transform .2s, background .2s, color .2s;
}

.scroll-to-top.style-2 {
    border-radius: 0;
}

.scroll-to-top:hover {
    background: #f0c24b;
    color: white;
    border: 2px solid #f0c24b;
}

.scroll-to-top:focus {
    background: #f0c24b;
    color: white;
    border: 2px solid #f0c24b;
}

/* End Scroll to Top */
/* Preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f8f8f8;
    z-index: 999999;
}

.spinner {
    width: 50px;
    height: 50px;
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    top: 45%;
    left: 48%;
}

.spinner-round:before {
    border-radius: 50%;
    content: " ";
    width: 50px;
    height: 50px;
    display: inline-block;
    box-sizing: border-box;
    border-top: solid 4px #cccccc;
    border-right: solid 4px #cccccc;
    border-bottom: solid 4px #cccccc;
    border-left: solid 4px #cccccc;
    position: absolute;
    top: 0;
    left: 0;
}

.spinner-round:after {
    border-radius: 50%;
    content: " ";
    width: 50px;
    height: 50px;
    display: inline-block;
    box-sizing: border-box;
    border-top: solid 4px #ea7066;
    border-right: solid 4px transparent;
    border-bottom: solid 4px transparent;
    border-left: solid 4px transparent;
    position: absolute;
    top: 0;
    left: 0;
    animation: spinner-round-animate 1s ease-in-out infinite;
}

@keyframes spinner-round-animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* End Preloader */
/* Demo */
body.demo {
    overflow: auto;
    background: #f8f8f8;
}

#pages .shuffle-item {
    height: auto;
}

#demo {
    background-color: #ea7066;
}

.demo .dark a:hover {
    opacity: 1 !important;
}

#demo .header-content {
    padding: 50px 0;
}

#demo .header-content-details {
    padding: 20px 0;
}

#demo .header-details-text {
    padding: 15px 250px;
}

#demo p {
    font-size: 14px;
}

#demo h3 {
    font-weight: 700;
    letter-spacing: 0.1em;
}

#demo .header-brand {
    margin-bottom: 20px;
}

#demo .header-brand img {
    width: auto;
    max-height: 40px;
}

#demo img {
    max-width: 160px;
}

#demos {
    padding-top: 50px;
}

.demo-item {
    margin-bottom: 30px;
    -webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.1);
}

.demo-item a img {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.demo-item a img:hover {
    opacity: 0.7;
}

.demo-info {
    background: white;
    border-top: 1px solid #ebebeb;
    padding: 20px;
}

.demo-title {
    color: #333333;
    font-size: 18px;
    font-family: "Rubik", sans-serif;
    margin-bottom: 0;
}

.demo-description {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 0;
}

.cta-line {
    background: #ea7066;
    padding: 30px 0;
}

.cta-content-info h4 {
    margin-top: 16px;
}

.cta-line h4 {
    color: white;
    margin-bottom: 0;
}

@media only screen and (max-width: 991px) {
    #demo .header-details-text {
        padding: 15px 150px;
    }
}

@media only screen and (max-width: 767px) {
    .demo .footer-info p {
        padding: 30px 0;
    }
}

@media only screen and (max-width: 600px) {
    #demo .header-details-text {
        padding: 15px;
    }

    .cta-line {
        text-align: center;
    }

    .cta-line .btn {
        margin: 30px auto 0 auto;
    }

    .cta-line .pull-left,
    .cta-line .pull-right {
        float: none !important;
    }
}

/* End Demo */
/* Media Screens */
@media only screen and (max-width: 991px) {
    .split-menu .pull-left {
        float: none !important;
    }

    .split-menu .navbar-brand {
        display: block;
    }

    .split-menu .pull-right {
        float: none !important;
    }

    .split-menu .navbar-nav {
        float: none;
    }

    .split-menu .navbar-nav > li {
        float: none;
        display: inline-block;
    }

    .nav > li > a {
        padding: 12.5px 10px;
    }

    .open .dropdown-menu > li > a {
        font-size: 13px;
    }

    .log-line .checkbox label {
        padding-left: 8px;
    }

    #brands img {
        margin-left: auto;
    }

    .widget-area .col-md-4,
    .widget-area .col-md-3 {
        padding: 15px;
    }

    footer .widget {
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 767px) {
    .top-menu .space-left {
        padding-left: 7px !important;
    }

    .top-menu .space-right {
        padding-right: 5px !important;
    }

    .banner-w-menu .banner-content {
        padding-top: 100px;
    }

    .w-top-nav {
        margin-top: 120px;
    }

    .navbar-nav {
        padding-left: 0;
    }

    .navbar-nav > li > a {
        line-height: 50px;
        padding: 0 !important;
    }

    .navbar-brand {
        font-size: 20px;
        line-height: 20px;
        font-weight: 700;
        height: auto;
        padding: 20px 5px;
    }

    .stacked-menu .navbar-brand {
        float: left;
        padding-bottom: 20px;
        margin-top: -80px;
    }

    .open .dropdown-menu > li > a {
        padding: 5px 20px;
        text-align: center;
        max-width: 100%;
    }

    .dropdown-toggle span {
        margin-left: 15px;
    }

    .navbar-nav .open .dropdown-menu {
        max-width: 100%;
        margin: 0 auto;
    }

    .navbar-nav .open .dropdown-menu > li > a {
        padding: 10px 0;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover {
        color: #ea7066;
        background-color: transparent;
    }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: transparent;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #111111;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        color: #ea7066;
        background-color: transparent;
    }

    .navbar .btn {
        margin: 7px 0 20px 0;
    }

    .banner-content {
        padding: 100px 0;
    }

    #newsletter .input-group {
        width: 100%;
    }

    #newsletter .btn-left.btn-newsletter.inside {
        padding: 14px 14px;
    }

    .section-w-image {
        padding: 0 15px;
    }

    .about-img {
        position: relative;
        height: 450px;
    }

    .fact-title {
        margin-bottom: 30px;
    }

    .pricing-table {
        max-width: 80%;
        margin: 30px auto;
    }

    .stacked > .col-md-4,
    .stacked > .col-md-3 {
        padding-left: 15px;
        padding-right: 15px;
    }

    .stacked .col-md-3 .featured.pricing-table {
        margin-top: 0;
    }

    .stacked .featured.pricing-table {
        margin-top: 0;
    }

    #team .col-sm-4 {
        padding: 0;
    }

    .team {
        width: 80%;
        margin: 0 auto 30px auto;
    }

    .contact-info {
        padding: 5px 15px;
    }

    .contact-area .map {
        padding-right: 0;
        margin-bottom: 30px;
    }

    .contact-form-area {
        padding-right: 15px;
    }

    .contact-text {
        margin-bottom: 30px;
        padding-left: 15px;
    }

    #map {
        height: 300px;
    }

    .update-cart {
        text-align: left;
        padding-left: 0;
    }

    .cart-total {
        padding-bottom: 0;
    }

    .cart-checkout {
        text-align: left;
    }

    .update-cart .btn {
        margin-left: 0;
    }

    .cart-checkout .btn {
        margin-left: 0;
    }

    .account-sidebar {
        text-align: center;
        margin-bottom: 30px;
    }

    .account-sidebar img {
        margin-left: auto;
        margin-right: auto;
    }

    .secondary-nav {
        display: none !important;
    }

    .footer-info {
        text-align: center;
        line-height: 1.8;
    }

    .footer-info .pull-left {
        float: none !important;
        display: block;
    }

    .footer-info .pull-right {
        float: none !important;
        display: block;
    }

    footer .copyright {
        margin-top: 0;
    }

    .footer-info p {
        padding: 30px 0 0 0;
    }
}

@media only screen and (max-width: 660px) {
    .product-hover-tools {
        right: 33%;
    }

    .product:hover .product-hover-tools {
        right: 33%;
    }

    #shop.info-box .m-product .product-hover-tools {
        bottom: 58.5%;
    }

    #shop.info-box .product.m-product:hover .product-hover-tools {
        bottom: 55.5%;
    }
}

@media only screen and (max-width: 600px) {
    .col-xs-6 {
        width: 100%;
    }

    #personal-info .col-xs-6 {
        width: 50%;
    }

    .product-hover-tools {
        bottom: 48%;
        right: 41%;
    }

    .product:hover .product-hover-tools {
        bottom: 45%;
        right: 41%;
    }

    .m-product .product-hover-tools {
        bottom: 50%;
    }

    .product.m-product:hover .product-hover-tools {
        bottom: 47%;
    }

    #shop.info-box .product-hover-tools {
        bottom: 58%;
        right: 41%;
    }

    #shop.info-box .product:hover .product-hover-tools {
        bottom: 55%;
        right: 41%;
    }

    #shop.info-box .m-product .product-hover-tools {
        bottom: 56%;
    }

    #shop.info-box .product.m-product:hover .product-hover-tools {
        bottom: 53%;
    }

    .about-img {
        height: 300px;
    }

    #contactForm .form-control {
        margin-bottom: 20px;
        padding: 10px;
        min-height: 40px;
    }

    #contactForm textarea {
        padding: 15px 10px !important;
    }

    #contact-form-1 .btn-form-submit {
        padding: 9px;
    }

    .help-block {
        margin-top: 20px;
    }

    .help-block.with-errors li {
        margin-top: -20px;
    }

    .footer-info {
        text-align: center;
        line-height: 1.8;
    }

    .footer-info .pull-right {
        float: none !important;
        display: block;
    }
}

@media only screen and (max-width: 550px) {
    .top-menu {
        text-align: center;
    }

    .top-menu .space-left {
        display: block;
        margin-bottom: 30px;
        padding-left: 0 !important;
    }

    .top-menu .right a.shopping-cart i {
        margin-right: 1px;
    }

    .top-menu .right {
        float: none;
        display: block;
    }

    .top-menu .pull-right {
        float: none !important;
        padding: 0 !important;
    }

    .top-menu .margin-fix {
        margin-bottom: 15px !important;
    }

    .w-top-nav {
        margin-top: 140px;
    }

    .product-hover-tools {
        bottom: 48%;
        right: 40%;
    }

    .product:hover .product-hover-tools {
        bottom: 45%;
        right: 40%;
    }

    #shop.info-box .product-hover-tools {
        bottom: 59%;
        right: 40%;
    }

    #shop.info-box .product:hover .product-hover-tools {
        bottom: 56%;
        right: 40%;
    }

    #shop.info-box .m-product .product-hover-tools {
        bottom: 57%;
    }

    #shop.info-box .product.m-product:hover .product-hover-tools {
        bottom: 54%;
    }

    table.shopping-cart > tbody > tr > td {
        font-size: 10px;
    }

    .qty input[type="number"] {
        max-width: 40px;
        padding: 10px 4px 10px 8px;
    }

    .x-remove {
        border-radius: 3px;
        height: 20px;
        width: 20px;
        font-size: 10px;
        line-height: 18px;
        margin-right: 15px;
    }
}

@media only screen and (max-width: 480px) {
    .w-top-nav {
        margin-top: 147px;
    }

    .banner-content {
        padding: 80px 0;
    }

    .banner-w-menu .banner-content {
        padding-top: 80px;
    }

    .banner-border {
        width: 90%;
        padding: 10px;
    }

    .banner-border .banner-info {
        width: 100%;
        margin: 0 auto;
        padding: 50px;
    }

    .banner-info {
        width: 90%;
        padding: 50px;
    }

    .banner-info h1 {
        font-size: 20px;
    }

    .product-hover-tools {
        bottom: 47%;
        right: 38%;
    }

    .product:hover .product-hover-tools {
        bottom: 44%;
        right: 38%;
    }

    .m-product .product-hover-tools {
        bottom: 49%;
    }

    .product.m-product:hover .product-hover-tools {
        bottom: 46%;
    }

    #shop.info-box .product-hover-tools {
        bottom: 60%;
        right: 38%;
    }

    #shop.info-box .product:hover .product-hover-tools {
        bottom: 57%;
        right: 38%;
    }

    #map {
        height: 220px;
    }

    .spinner {
        left: 45%;
    }

    table.shopping-cart {
        max-width: 100%;
        margin-left: -15px;
    }

    th.image {
        display: none;
    }

    td.image {
        display: none;
    }

    .account-info-content h4 {
        font-size: 18px;
    }
}

@media only screen and (max-width: 400px) {
    .btn-direction.pull-right {
        float: none !important;
    }

    .team {
        width: 90%;
    }
}

@media only screen and (max-width: 360px) {
    .product-hover-tools {
        bottom: 44%;
        right: 33%;
    }

    .product:hover .product-hover-tools {
        bottom: 41%;
        right: 33%;
    }

    .m-product .product-hover-tools {
        bottom: 47%;
    }

    .product.m-product:hover .product-hover-tools {
        bottom: 44%;
    }

    #shop.info-box .product-hover-tools {
        bottom: 61%;
        right: 33%;
    }

    #shop.info-box .product:hover .product-hover-tools {
        bottom: 58%;
        right: 33%;
    }

    #shop.info-box .m-product .product-hover-tools {
        bottom: 59%;
    }

    #shop.info-box .product.m-product:hover .product-hover-tools {
        bottom: 56%;
    }

    .shop-results .pull-right {
        float: none !important;
    }

    .selectpicker {
        margin-top: 15px;
    }

    footer p,
    footer a,
    footer i {
        font-size: 12px !important;
    }
}

/* Min Widths */
@media only screen and (min-width: 1230px) {
    .container {
        width: 1230px;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

@media only screen and (min-width: 768px) {
    .navbar-nav {
        float: right;
    }

    .nav-sec .navbar-nav {
        float: none;
    }

    .nav-sec .navbar-nav > li {
        float: none;
        display: inline-block;
    }

    nav .secondary-nav {
        float: right;
        margin-top: 30px;
        margin-left: 30px;
        padding-right: 15px;
    }

    .navbar-nav > li > a {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
        margin-left: 0;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
    }
}

/* End Min Widths */
/* / End Media Screens */
