.modal-wrapper {
    padding: 20px 10px 20px 10px;
}

.card {
    padding: 50px 20px;
    text-align: center;
    line-height: 50px;
}

.card .card-header {
    font-size: 5em;
    padding: 15px;
    margin: 20px 0 60px;
    text-transform: uppercase;
}


ul.link-widget {
    padding-left: 0px;
}

ul.category-ul {
    padding-left: 0px;
}
ul.category-ul li {
    padding: 10px 10px;
    background: #fff;
    color: #fff;
}
ul.category-ul li a {
    color: #fff;
}
.all_cat_import_using_jquery{
	display: none;
}
.loadmorebtn{
    position: relative;
}
.loadmorebtn i {
    left: 0;
    top: 11px;
    font-size: 17px;
}
ul.category-ul {
    padding-left: 0;
}
ul.category-ul, li { list-style: none; margin: 0; padding: 0; }
ul.category-ul li { padding-left: 1em;
  border: 1px dotted #fff;
  border-width: 0 0 1px 1px;
  border-bottom: 0px; 
}
li.container { border-bottom: 0px; 
}
li.empty { font-style: italic;
  color: silver;
  border-color: silver;
}
ul.category-ul li { margin: 0;
  background: #ea7066;
  position: relative;
  top: 0.5em; 
  
}
ul.category-ul ul {
    margin-top: -11px;
}
ul.category-ul li:before {
  content: '';
  position: absolute;
  width: 1em;
  border: 1px solid #fff;
  height: 1em;
  border-radius: 1em;
  margin-left: 0.5em;
}
ul.category-ul li:after {
    content: '';
    position: absolute;
    width: 23px;
    border: 1px #fff dotted;
    height: 1px;
    margin-left: 0.5em;
    left: -8px;
    top: 17px;
}
ul.category-ul li a {
  margin-left: 2em;
  color: #fff;
}
ul.category-ul{  
  border-top: 1px dotted #fff; 
  margin-left: -1em;     
  padding-left: 2em; 
}
ul.category-ul ul, ul.category-ul {
    margin-top: -8px;
}
ul.category-ul {
  padding: 0px;
}
ul.category-ulli:last-child ul {
  border-left: 1px solid white;
  margin-left: -17px;
}