/*style sheet for custom design*/

label.error {
    color: red;
    display: inline-block;
    margin-top: 5px;
}

textarea {
    resize: none;
}

.dd-handle {
    cursor: pointer;
    padding: 7px;
    height: auto;
}

.action-control button {
    height: 25px;
    width: 25px;
    padding: 0;
    border-radius: 50px !important;
}

.menu-list-block {
    display: block;
    margin: 5px 0;
    padding: 10px 10px 5px 25px;
    color: #333;
    text-decoration: none;
    font-weight: 700;
    border: 1px solid #ccc;
    background: #fafafa;
    box-sizing: border-box;
    height: auto;
    position: relative;
}

span.dd-handle {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 4px 6px;
    left: -11px;
    color: #8e44b2;
    border-top-right-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
}

.disable {
    background: #7b73733b;
}
.hidden-input{
    display: none;
}
.row-flex {
    display: flex;
    flex-wrap: wrap;
}